$primary: #034aa6;
$secondary: #444359;
$background: #dfe7f2;

@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");
@import "styles/App.scss";
@import "styles/Landing.scss";
@import "styles/Face.scss";
